<div class="container ">

    <h1 class="text-center">About</h1>
    

    <p>
        Consuming a healthy diet throughout the life-course helps to prevent malnutrition in all its forms as well as a range of noncommunicable diseases (NCDs) and conditions. However, increased production of processed foods, rapid urbanization and changing lifestyles have led to a shift in dietary patterns. People are now consuming more foods high in energy, fats, free sugars and salt/sodium, and many people do not eat enough fruit, vegetables and other dietary fibre such as whole grains.

        The exact make-up of a diversified, balanced and healthy diet will vary depending on individual characteristics (e.g. age, gender, lifestyle and degree of physical activity), cultural context, locally available foods and dietary customs. However, the basic principles of what constitutes a healthy diet remain the same.
        <br/>
        As a working professional, it is given for a fact that you must be too busy during the week and eventually feel sluggish during the weekends. Living in a city like Pune makes it incredibly simple and convenient to pick up the phone and place an order. You may order food online in Pune via FoodFresh, which delivers nutritious, delicious, and affordable meals to your house. As a result, you may enjoy a tasty dinner from anywhere and at any time.
        <br/>
        Why order via FoodFresh?
        FoodFresh offers food delivery in Pune that allows Pune residents or tourists who are in Pune to order meals from a range of establishments, including quick-service eateries, famous restaurants, and trendy new cafés in the city. FoodFresh began with the intention of providing customers with tasty meals by ordering and delivering them from neighbouring restaurants. They work with almost every restaurant in Pune and take payments online. Just visit the website and you can get delivery of food in Pune right to your door!
        <br/>
    </p>

</div>

<h3>ph.no : 5647893214 <br>email: foodfresh1011@gmail.com</h3>
