<body>
<div class="cont ">

    <h1 class="text-center">About</h1>
    
   
    <p>
        Welcome to FreshMenu, your one-stop destination for all things food! Our mission is to provide you with the freshest, most delicious meals possible, all while making the process easy and convenient. 
        <br>
        At FreshMenu, we are passionate about good food. Our team of talented chefs works tirelessly to create mouth-watering dishes using only the freshest ingredients. Whether you're in the mood for classic comfort food or something a little more adventurous, we've got you covered.
        <br>
        We specialize in delivering fresh, healthy meals right to your doorstep. Our menu features a wide range of options, from light and refreshing salads to hearty pastas and meat dishes. We also offer a variety of vegetarian and vegan options, so there's something for everyone.
        <br>
        If you have any questions or concerns, please don't hesitate to reach out to us. You can contact us by phone at<b > 825678855</b> or email us at <a href="#">freshmenu@gmail.com.</a> We're always happy to hear from our customers and will do everything we can to ensure that you have a positive experience with our service.
        <br>
        Thank you for choosing FreshMenu. We look forward to serving you!
    </p>

</div>
<h3>ph.no : 5647893214 <br>email: foodfresh1011@gmail.com</h3>

</body>