body{
    background-color: black;
}
.cont {
    background-image: url('../../../src/assets/foodimages/container.jpg');
    height: 600px;
    background-position: center top;
    background-size: cover;
    top: 30%;
    opacity: 0.8;

}


p
{
    color: #f9f8f8;
    font-size:20px;
    font-weight: bold;
   
   
    position: absolute;
}
h1,h3{
    color: aliceblue;
}

.btn{
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: var(--clr-accent);
    background-color: var(--clr-accent);
    border: 10px solid var(--clr-accent);
    border-radius: 5px;

   /* transition-property:  transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;*/

    transition : 0.3s;
}

.btn:hover{
    transform: translateY(-10px);
    background-color: var(--clr-accent);
    color: var(--clr-light);
}