<div class="bgimage">
 
<div *ngIf="getCart().length >0">
<ng-container *ngFor="let dishes of getCart(),let i= index">
    <p>Dish Name:{{dishes.name}}</p>
    <p>Price:{{dishes.price}}</p>
    <img [src]="dishes.image" [alt]="dishes.name" width="100" height="100">
    <br>
    <button class="remove-from-cart-button" (click)="removeItem(i)"> delete </button>
   <!-- <input type="number" [(ngModel)]="quantity" min="1" max="10" />
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>-->

 <button (click)="increment(this.dishes.quantity)">+</button>
 <!--<div class="counter" style="font-size: 2rem">{{dishes?.quantity || 0}}</div>-->
<input type="number" value="{{dishes?.quantity || 0}}"  min="1" max="10" />
<button (click)="decrement(this.dishes.quantity)">-</button>
    <hr>
</ng-container>
<div></div>
</div>
<div *ngIf="getCart().length==0"> No dish added in your menu</div>


</div>