.bgimage{
    background-image: url(src\assets\foodimages\Untitled.jpg);
    background-repeat:no-repeat;
    position: relative;
    height: 600px;
    background-size: cover;
    width: 1370px;
    
  }

p{
  color: rgb(255, 255, 255);
    
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    font-family: ui-sans-serif;
    line-height: 2.0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-left: 10%;
}
.welcome{
  color: rgb(255, 255, 255);
    
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    font-family: ui-sans-serif;
    line-height: 2.0;
    font-weight: bold;
    display: flex;
    justify-content: left;
    padding-bottom: 40%;
    padding-left: 17%;

}
.work>h1{
  color: rgb(7, 184, 66);
    background-color: black;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  font-family: ui-sans-serif;
  line-height: 2.0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-left: 12%;
}
.work>h3>span{
  font-size: 30px;
  font-weight: bold;
  color:rgb(250, 253, 253);
  padding-right: 15%;
}
.work>h2{
  color: rgb(239, 245, 239);
  font-size: 30px;
  font-weight: bold;
  padding-left: 2%;
}
.work{
  color: aliceblue;
background-color: black;
}