.contain{
    background-image: url(src\assets\foodimages\Untitled.jpg);
    background-repeat:no-repeat;
    position: relative;
    height: 600px;
    background-size: cover;
    width: 1370px;
    
  }

  .img{
    background-image: url(src\assets\foodimages\flowchart.jpg);
    background-repeat:no-repeat;
    position: relative;
    height: 600px;
    background-size: cover;
    width: 1370px;
    

  }
.flow{
  background-color: blue;
  border: 2px solid blueviolet;
  color: red;
  padding:15px 32px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  
  cursor: pointer;
}


p{
  color: rgb(255, 255, 255);
    
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    font-family: ui-sans-serif;
    line-height: 2.0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-left: 10%;
}
.welcome{
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  font-family: ui-sans-serif;
  line-height: 2.0;
  font-weight: bold;
  display: inline-block;
  justify-content: left;
  padding-bottom: 0%;
  padding-left: 17%;
  margin: auto;
  padding-top: 5%;
  /*border: 2px solid red*/

}
.btn-outline-warning{
  position: relative;
  margin-left: 50%
}